<% content_for :title do %>PTC NOC Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Welcome to the PTC NOC!" data-moreinfo="Protip: Phil is a god"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Cases" data-moreinfo="# of cases in queue"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="ETH Valuation" data-moreinfo="In cents" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="response_time" data-view="Alert" data-title="ETH in USD"></div>
    </li>
  </ul>
</div>
